@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --main: rgba(252, 176, 69, 1);
  --shade-1: rgba(56, 251, 255, 0.8729866946778712);
  --main-text: black;
  --sec-text: #3e3e3e;
}
nav {
  /* display: inline-block; */
  text-align: right;

  padding: 20px 20px;
  margin: 50px 50px;
  /* margin-left: 60px; */
  margin-left: 100px;
  margin-right: 100px;
}
.navbar {
  color: var(--main);
}
a {
  color: black;
}
/* a:hover {
  color: var(--main);
} */

body {
  /* background-color: white; */
  /* background: rgb(234, 174, 238);
  background: radial-gradient(
    circle,
    rgba(234, 174, 238, 1) 30%,
    rgba(56, 251, 255, 0.8729866946778712) 100%
  ); */
  background: rgb(58, 180, 169);
  background: linear-gradient(
    29deg,
    rgba(58, 180, 169, 1) 0%,
    rgba(177, 29, 253, 1) 46%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 0 auto;
}

.nav-link {
  justify-items: right;
  text-decoration: none;
  margin-left: 10px;
}

/* nav > a:hover:nth-child(2) {
  color: rgba(177, 29, 253, 1) 46%;
} */
.nav-name:hover {
  color: var(--main);
}
.nav-link:hover {
  color: #b11dfd; /* Change the text color on hover */
}
.nav-name {
  float: left;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 2fr 2fr;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 500px;
  /* border: 2px solid red; */
}

.main-heading {
  font-size: 60px;
  /* border: 2px solid red; */
  margin-top: 90px;
}
.main-subheading {
  font-size: 20px;
  color: var(--sec-text);
  /* border: 2px solid red; */
}

.main-p {
  grid-row: 3;
  margin-top: -60px;
  grid-column: 1;
  /* margin-right: 0px; */
  /* border: 2px solid red; */
}
.main-img {
  grid-row: 2;
  grid-column: 3 / span 1;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  /* border: red solid 2px; */
  margin-top: -90px;
}

.main-btns {
  grid-row: 3;
  grid-column: 1;
  padding-top: 90px;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: var(--main);
  border-radius: 5px;
}

button:hover {
  background-color: var(--shade-1);
}

section {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr;
  margin-top: 60px;
}

.about-p {
  margin: 0 auto;
}
